@model Product
<code id="id_product" style="display:none">@Model.Id</code>
<section class="product">
    <div class="container">
        <hr class="line-bold" />
        <div class="product-info">
            <h1 class="product-info__header">@Model.Name</h1>
        </div>
        <hr />
        <div class="offer">
            <div class="offers-figure">
                <img src="@Model.ImageURL" class="offers-figure__img"/>
            </div>
            <div class="offer-info">
                <div class="offer-info__description">
                    <h2>Описание</h2>
                    <p id="offer-info__description__body">
                        @Model.LongDescription
                    </p>
                </div>
                @{ if (Model.IsAvailable) 
                    {
                    <div class="offer-footer">
                        <div class="offer-footer__btn">
                            <button class="btn btn-primary" id="btn_add_product">В корзину</button>
                        </div>
                        <p class="offer-footer__cost">@Model.Price р.</p>
                    </div>
                    }
                    else 
                    {
                        <p class="text-capitalize">Товара нет в наличии!</p>
                    }
               }
            </div>
        </div>
        <hr />
        @if (User.IsInRole("admin"))
        {
            <section>
                <h3 style="text-align:center;padding-top:10px;">Хотите что-нибудь поменять?</h3>
                <div class="btn-block">
                    <a href="/Products/UpdateProduct/@Model.Id">
                        <button class="btn btn-primary">
                            <span class="btn-text">Изменить</span>
                        </button>
                    </a>
                    <a href="/Products/DeleteProduct/@Model.Id">
                        <button class="btn btn-primary">
                            <span class="btn-text">Удалить</span>
                        </button>
                    </a>
                </div>
            </section>
        }
    </div>
</section>
