@model E_Shop_Cosmetic.Data.Models.OrderDetail

<a class="wow flipInX" data-wow-duration="1s" asp-action="Product" asp-controller="Products" asp-route-id="@Model.Product.Id">
    
    <div class="offer">
        <div class="offers-figure">
            <img src="@Model.Product.ImageURL" alt="NoImage" class="card-image">
        </div>
        <div class="offer-info">
            <div class="offer-info__description" style="padding: 20% 0;">
                <span>Кол-во: @Model.Amount</span>
                <span id="offer-info__description__body">Цена: @Model.TotalPrice br</span>
                <span>Тек. цена: @Model.Product.Price br</span>
                <span>Id: @Model.Product.Id</span>
            </div>
        </div>
    </div>
</a>