@model E_Shop_Cosmetic.Data.Models.Product

<a class="wow flipInX" data-wow-duration="1s" asp-action="Product" asp-controller="Products" asp-route-id="@Model.Id">

    <img src="@Model.ImageURL" alt="NoImage" class="card-image">
    <div class="text">
        <!-- /cards -->
        <div class="card-info">
            <div class="card-info__name">
                <h3>@Model.Name</h3>
            </div>
            <div class="price" style="color: #FA842A">
                <span>@Model.Price br</span>
            </div>
            <div class="category">
                <span>@Model.Category.CategoryName</span>
            </div>
        </div>
    </div>
</a>