@model E_Shop_Cosmetic.Data.Models.Order

<a class="card order-cards" asp-action="Order" asp-controller="Orders" asp-route-id="@Model.Id">
    <table border="1" class="table table-order-successful__body">
        <tbody class="table-body">
            <tr class="table-row">
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Information)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.IsOrderActive)
                </td>
            </tr>
            <tr class="table-row table-row-content">
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td class="table-row__information">
                    @Html.DisplayFor(model => model.Information)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IsOrderActive)
                </td>
            </tr>
        </tbody>
    </table>
</a>